html{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

body{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}


.main-box{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align: center;
	background-color: #000000;
}
