html{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

body{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.main-box{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 1280px;
	height: 800px;
}


table.main-frame{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	border: #FFFFFF;
	background-color: #000000;
	width: 1280px;
	height: 800px;
	border-style: solid;
}

table.main-frame th{
	color: #FFFFFF;
	font-size: 20px;
	line-height: 100px;
	white-space: nowrap;
	border-style: solid;
	font-size: 40px;
}

table.main-frame td{
	color: #FFFFFF;
	line-height: 10px;
	white-space: nowrap;
	border-style: solid;
}


.cNumber{
	width: 110px;
	overflow: hidden;
	font-size: 40px;
}


.cBrewery{
	width: 250px;
	overflow: hidden;
	font-size: 30px;
}


.cName{
	width: 310px;
	overflow: hidden;
	font-size: 25px;
}


.cLocal{
	width: 230px;
	overflow: hidden;
	font-size: 30px;
}


.cStyle{
	width: 210px;
	overflow: hidden;
	font-size: 20px;
}


.cABV{
	width: 110px;
	overflow: hidden;
	font-size: 40px;
}





.No1{
	color: #FFFFFF;
}

.No2{
	color: #FFFFFF;
}

.No3{
	color: #FFFFFF;
}

.No4{
	color: #FFFFFF;
}

.No5{
	color: #FFFFFF;
}

.No6{
	color: #FFFFFF;
}

.No7{
	color: #FFFFFF;
}

.No8{
	color: #FFFFFF;
}